body {
  padding-top: 40px;
}

ul {
  li img {
    margin-top: -4px;
  }
}

.busy {
  display: none;
}
.collapser {
  background-image: url('/images/container-expand.png');
  background-position: 0px 4px;
  background-repeat: no-repeat;
  display: block;
  padding-left: 28px;
  &.in {
    background-image: url('/images/container-collapse.png');
  }
}
