html {
    overflow-y: scroll;
}

body {
  padding-top: 50px;
}

a  img,
li img {
  margin-top: -4px;
}

h4 {
  margin: 0;
  line-height: 30px;
  button {
    margin-bottom: 4px;
  }
}

section.app {
  border: #eee solid 1px;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px 35px 6px 14px;
  .logo {
    padding: 8px 0 6px 14px;
  }
}

.app-name img,
.undefined-app img {
  margin-right: 4px;
  margin-top: -4px;
}
.busy {
  display: none;
}
.collapser {
  background-image: url('/images/container-expand.png');
  background-position: 0px 6px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 28px;
  &.in {
    background-image: url('/images/container-collapse.png');
  }
}

#errors,
#error-dirs {
  margin-top: 18px;
}
