
%h2 About


%h3 Issues

Please, report all issues on our issue tracker on GitHub:
%a{ :href => "http://github.com/riyad/versionator/issues" } http://github.com/riyad/versionator/issues

%h3 Code

The main repository can be found on GitHub:
%a{ :href => "http://github.com/riyad/versionator" } http://github.com/riyad/versionator

%h3 License

Versionator is released under the MIT license.

%h3 Authors

%a{ :href => "mailto:riyad@informatik.uni-bremen.de" } Riyad Preukschas &lt;riyad@informatik.uni-bremen.de&gt;