
%h1 About

%h2 Issues

%p
  Please, report all issues on our issue tracker on GitHub:
  %a{ :href => "http://github.com/riyad/versionator/issues" } http://github.com/riyad/versionator/issues

%h2 Code

%p
  The main repository can be found on GitHub:
  %a{ :href => "http://github.com/riyad/versionator" } http://github.com/riyad/versionator

%h2 License

%p
  Versionator is released under the MIT license.

%h2 Authors

%p
  %a{ :href => "mailto:riyad@informatik.uni-bremen.de" } Riyad Preukschas &lt;riyad@informatik.uni-bremen.de&gt;