%section.errors.row.js-load-errors
%section.errors.row.js-missing-dirs

.row
  %p
    %button.btn.hidden.js-check-all-versions-button
      %span.glyphicon.glyphicon-retweet
      Check all versions

.js-app-instances

= haml :app
= haml :missing_dirs
= haml :unknown_app
