!!! 5
!!!

%html
  %head
    %title Versionator
    %link{ :href => "stylesheet.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "jquery-1.4.4.min.js" }
  %body
    #header
      %h1 Versionator
    #content
      = yield
