a
  img.link-external
    margin-bottom: 0.1em

body
  font-family: Ubuntu, Droid Sans, Arial, sans-serif
  font-size: 12pt
  margin: 0.5em 1.5em 1.5em

h2, h3
  .description
    display: inline-block
    font-size: 12pt
    font-weight: normal

img
  margin-bottom: -0.2em
  &.ajax-loader
    display: none

ul
  margin: 0.5em 0
  &.horizontal li
    display: inline-block
  &.list
    list-style: none
    padding: 0
    &.icon li
      background-color: #fff
      border: 0.1em solid #6193CF
      border-radius: 5px
    &.horizontal.icon li
      margin: 0 0.5em
      padding: 0 0.5em
      text-align: center
      img
        display: block
        margin-bottom: 0.5em
    &.vertical.icon li
      margin: 0.5em auto
      padding: 0.5em
      width: 70%
      h2
        margin: 0 0 0.2em
      img
        display: block
        float: left
        margin: 0 1em 0 0.5em
      p
        margin: 0.2em 0 0.2em 5.6em
  &.tabs
    border-bottom: 0.1em solid #6193CF
    li
      border: 0.1em solid #6193CF
      border-bottom-width: 0
      border-radius: 5px 5px 0 0
      padding: 0.3em 1em
      &:hover
        background-color: rgba(184, 216, 255, 0.5)
      a
        color: #000
        text-decoration: none
  &.vertical li
    display: block

.about
  float: right
  margin-right: 2em

.button
  border-radius: 5px
  cursor: pointer
  padding: 0.1em 0.2em 0.2em
  &:hover
    background-color: #B8D8FF
  &.toggle:hover
    background-color: rgba(184, 216, 255, 0.5)

.border-all
  border: 0.1em solid #6193CF
  border-radius: 5px

.container
  margin: 0.5em 0
  padding: 0
  h3
    margin: 0
    padding: 0.5em
    img
      margin-bottom: -0.05em
  p
    margin: 0
  .body
    h4
      margin: 0
    .content
      padding: 0.5em
      .button
        text-decoration: underline
        img
          display: inline-block
  .logo
    float: right
    margin: 0.5em 16px
  .name
    font-size: 125%
  .version
    font-style: italic

.message
  border-radius: 5px
  margin: 1em 0
  &.error
    background-color: #ffe5e5
    border: 0.1em solid #ff9b9b
    .body
      background-image: url('images/message-error.png')
      background-position: 0.5em 0.5em
      background-repeat: no-repeat
      h3
        font-size: 18pt
        margin: 0
        padding: 0.4em 0 0.5em 2em
    .content
      padding: 0.5em 1em 0
    .head
      background-image: url('images/message-error-mini.png')
      background-position: 0.4em 0.4em
      background-repeat: no-repeat
      h3
        font-size: 12pt
        margin: 0
        padding: 0.3em 0 0.2em 1.6em
span.message.error
  background-image: url('images/message-error-mini.png')
  background-position: 3px 0.15em
  background-repeat: no-repeat
  padding: 0 .2em 0 22px
  font-style: normal

.toggle-container
  img
    margin-bottom: 0
  &.button
    background: none
    border: none
    display: block
    float: right
    padding: 0
    margin: 0.2em
    width: 16px

.verdict
  background-repeat: repeat-x
  &.up-to-date
    background-image: url('images/verdict-up-to-date.png')
    background-color: #daf0be
    border: 0.1em solid #9ed15c
  &.outdated
    background-image: url('images/verdict-outdated.png')
    background-color: #fff9d4
    border: 0.1em solid #ffe655
