body
  margin: 0.5em 1.5em

img
  margin-bottom: -0.2em
  &.ajax-loader
    display: none

ul
  &.horizontal li
    display: inline-block
  &.list
    list-style: none
    padding: 0
    &.icon li
      background-color: #fff
      border: 0.1em solid #6193CF
      border-radius: 5px
      margin: 0.5em
      padding: 0.5em
      text-align: center
      img
        display: block
        margin-bottom: 0.5em
      &:hover
        background-color: #BFD9FF
        border: 0.1em solid #2C72C7
  &.vertical li
    display: block

.button
  background-color: #00316E
  border: 0.1em solid #00316E
  border-radius: 5px
  color: #fff
  cursor: pointer
  padding: 0.1em 0.2em 0.2em
  &:hover
    background-color: #0057AE

.container
  border-bottom: .1em solid black
  margin: 0.5em 0
  padding: 0.5em
  h2, h3, h4
    display: inline-block
    margin: 0
    padding: 0
  &.installations
    border-bottom: 0
  &.recognizers
    padding: 0
  .item
    background-color: #fff
    border: 0.1em solid #6193CF
    border-radius: 5px
    margin: 0.5em 0
    padding: 0.5em
    p
      margin: 0
    .logo
      float: right
    .name
      font-size: 125%
    .verdict
      float: left
      height: 48px
      width: 48px
      &.unknown
        background-image: url('images/verdict-unknown.png')
        margin: 0 0.5em 0 0
    .version
      font-style: italic

.message
  background-position: right center
  background-repeat: no-repeat
  border-radius: 5px
  margin: 1em 0
  padding: 1em
  h2
    margin: 0
  &.error
    background-image: url('images/message-error.png')
    background-color: #F9CCCA
    border: 0.1em solid #E20800
  &.warning
    background-image: url('images/message-warning.png')
    background-color: #FFDFBF
    border: 0.1em solid #EB7331
  &.info
    background-image: url('images/message-info.png')
    background-color: #B8D8FF
    border: 0.1em solid #0057AE

.toggle-container
  display: inline-block
  img
    margin-bottom: 0
