html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}

.app {
  border: #eee solid 1px;
}

.busy .glyphicon {
  animation: spin .8s infinite linear;
}

@keyframes spin {
  from { transform: rotate( 0deg ); }
  to { transform: rotate( 360deg ); }
}

.collapser {
  background-image: url('/img/container-expand.png');
  background-position: 0px 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 28px;
  &.in {
    background-image: url('/img/container-collapse.png');
  }
}
